
// Theme 01
// v 1.0.0


// Colors
color-default       = #ebebeb
color-primary       = #1999d6
color-success       = #2cbf75
color-important     = #de4040
color-warning       = #e05509
color-error         = #cf2626
color-info          = #29779c

color-black         = #393939
color-pure-black    = #000
color-white         = #fff
color-white-smoke   = #f2f2f2
color-gray-light    = #ebebeb
color-light         = #dddddd
color-gainsboro     = #d3d3d3
color-base          = #a3a3a3
color-iron          = #ccc
color-gray          = #767676
color-gray-medium   = #a9a9a9
color-iron          = #ccc
color-grey-light    = #ebebeb
color-monsoon       = #7e7e7e

color-yellow        = #fdfa00
