// =============================================================================
// Text Transforms
// =============================================================================

// Mixin
// =============================================================================
util-render-text-transforms()

    .text-break
        word-wrap: break-word

    .text-uppercase
        text-transform: uppercase

    .text-lowercase
        text-transform: lowercase

    .text-none
        text-transform: none

    .text-capitalize
        text-transform: capitalize

    .text-underline
        text-transform: underline

    .text-nowrap
        white-space: nowrap

